* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "TNR-condensed";
    src: url("/assets/TNR-MT-Condensed-Regular-font/");
}

.logo {
    height: 75px;
    object-fit: fill;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Navbar container */
.navbar {
    background-color: none;
    display: flex;
    justify-content: flex-start;
    background-image: url("/assets/ai-fixed-2.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    /* Center the background image */
    background-attachment: fixed;
    position: sticky;
    top: 0;
}

.navbar a:focus,
.navbar a:hover,
.navbar .btn:focus {
    box-shadow: none;
    background: rgba(255, 255, 255, .5);
    text-decoration: none;

}

/* Links inside the navbar */
.navbar a {
    font-size: 16px;
    color: #59372F;
    text-align: right;
    padding: 2px 10px;
    text-decoration: none;
    border-radius: .25rem;
}

.navbar nav {
    margin: 10px;
}

.dropdown-menu {
    background: rgba(255, 255, 255, 0.712);
    border: none;
    min-width: 100px;
}

h1 {
    margin-top: 40px;
    margin-left: 30px;
}

h2 {
    font-family: "TNR-condensed";
}

h2 span {
    font-style: italic;
}

.book-cover {
    height: 200px;
    margin-right: 30px;
}

.book-section {
    display: flex;
    padding: 20px;
}

.book-text {
    width: 80%;
}